.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 1.85vmin;

    background-color: bisque;
}

.control-box {
    display: block;
    padding: 10vmin 10vmin 0;
    text-align: center;
}

.canvas-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96.3vmin;
    height: 96.3vmin;
    background-color: black;
}

.ctx {
    margin: 0 auto;
    background-color: #0ff855;
}

.btn {
    font-size: 30px;
    background-color: yellow;
    margin-bottom: 30px;
}

.btns {
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
}

.up:hover, .down:hover, .left:hover, .right:hover {
    color: yellow;
}

.up:active, .down:active, .left:active, .right:active {
    color: red;
}