.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 1.85vmin;

  background-color: bisque;
}

.control-box {
  display: block;
  padding: 10vmin 10vmin 0;
  text-align: center;
}

.canvas-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96.3vmin;
  height: 96.3vmin;
}

.ctx {
  background-color: #0ff855;
  border: 1.85vmin solid black;
}

/* btn-start */

.btn-start {
  font-size: 30px;
  background-color: yellow;
  margin-bottom: 30px;
}

.btn-start:active {
  background-color: red;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 200px;
  height: 200px;
}

.btns__flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.up, .left, .right, .down {
  box-sizing: border-box;

  width: 60px;
  height: 60px;

  background-color: aqua;
  border: 2px solid black;
  border-radius: 25px;
}

.up:hover, .down:hover, .left:hover, .right:hover {
  cursor: pointer;
  background-color: yellow;
}

.btn:hover {
  cursor: pointer;
  background-color: aqua;
}

.up:active, .down:active, .left:active, .right:active {
  background-color: red;
}